@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Parent Container: ใช้ ID เป็นเกราะป้องกันหลักและบังคับการจัดกึ่งกลาง */
#sb-main {
    background: black !important;
    font-family: 'Arial', sans-serif;
    display: flex !important; /* บังคับใช้ Flex */
    justify-content: center !important; /* บังคับจัดกึ่งกลาง */
}

/* Scrollbar (ยังคงเดิม) */
#sb-main .footer-description-box::-webkit-scrollbar {
    display: none;
}
#sb-main .footer-description-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Scrapbook Container: บังคับใช้ Grid Layout */
#sb-main .scrapbook-container {
    width: 750px;
    height: 900px;
    display: grid !important; /* บังคับใช้ Grid */
    grid-template-areas: "collage" !important; /* บังคับกำหนดพื้นที่ซ้อนทับ */
    overflow: visible;
    --color-main-frame: #EDE8D7;
    --color-inner-frame: #8C474D;
    --color-note-bg: #B4A7C9;
}

/* ------------------------------------------------------------- */
/* องค์ประกอบภายใน: ใช้ transform และ Grid Area (ไม่มี !important) */
/* ------------------------------------------------------------- */

/* Main Photo Frame */
#sb-main .main-photo-frame {
    grid-area: collage; 
    transform: translate(200px, 120px) rotate(-3deg); 
    width: 350px;
    height: 380px;
    background-color: var(--color-main-frame);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

#sb-main .inner-frame {
    position: absolute; 
    top: -10px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: var(--color-inner-frame);
    z-index: -1;
    transform: rotate(5deg);
}

#sb-main .main-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: rotate(3deg);
}

/* Note Sticker */
#sb-main .note-sticker {
    grid-area: collage; 
    transform: translate(90px, 220px) rotate(10deg); 
    width: 150px;
    height: 150px;
    background-color: var(--color-note-bg);
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    color: #2D2D2D;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    z-index: 3;
}
#sb-main .note-title { font-size: 14px; margin-bottom: 5px; font-weight: bold; }
#sb-main .note-time { font-size: 24px; margin: 0; }
#sb-main .note-session { font-size: 16px; margin-top: 5px;}

/* Element Clip */
#sb-main .element-clip {
    grid-area: collage; 
    background-image: url('https://img2.pic.inth/pic/clip01.png');
    width: 240px;
    height: 240px;
    transform: translate(10px, -100px); 
    z-index: 6;
}

/* Element Pen */
#sb-main .element-pen {
    grid-area: collage; 
    background-image: url('https://img5.pic.in.th/file/secure-sv1/pen01.png');
    width: 220px;
    height: 150px;
    transform: translate(100px, 320px) rotate(-10deg); 
    z-index: 5;
}

/* Element Thing */
#sb-main .element-thing {
    grid-area: collage; 
    background-image: var(--url-thing);
    width: 220px;
    height: 220px;
    transform: translate(450px, 300px) rotate(-50deg); 
    z-index: 5;
}

/* Quote Area */
#sb-main .quote-area {
    grid-area: collage; 
    transform: translate(200px, 65px); 
    text-align: left;
    font-size: 13px;
    z-index: 1;
    width: 300px;
    color: #fff;
}

/* Character Name Area */
#sb-main .character-name-area {
    grid-area: collage; 
    transform: translate(250px, 80px); 
    width: 400px;
    height: 150px;
    z-index: 100;
}

/* องค์ประกอบชื่อด้านในยังคงใช้ position: absolute; เทียบกับ parent ที่เป็น Grid Item */
#sb-main .name-title {
    font-size: 60px;
    font-weight: 900;
    color: #444;
    letter-spacing: 2px;
    margin: 0;
    position: absolute;
    top: -10px;
    right: 0;
    width: 400px;
}
/* ส่วนของชื่อที่เหลือ */
#sb-main .firstname-text {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: -15px;
    right: 70px;
    font-size: 35px;
    font-weight: 900;
    color: #444;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
    z-index: 101;
}

#sb-main .lastname-text {
    font-family: 'Mrs Saint Delafield', cursive;
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 80px;
    font-weight: normal;
    color: var(--color-inner-frame);
    line-height: 1;
    z-index: 101;
    transform: rotate(2deg);
}

/* Footer Description Box */
#sb-main .footer-description-box {
    grid-area: collage; 
    transform: translate(100px, 530px);
    width: 550px; 
    height: 120px;
    overflow-y: scroll;
    padding-right: 15px;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
}
