@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Parent Container: ใช้ div. นำหน้าเพื่อเพิ่ม Specificity ในการกำหนดพื้นหลังและการจัดกึ่งกลาง */
div.sb01-bebody {
    background: black;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
}

div.sb01-bebody .footer-description-box::-webkit-scrollbar {
    display: none;
}

div.sb01-bebody .footer-description-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Scrapbook Container: เพิ่ม div. นำหน้าและยืนยัน position: relative; */
div.sb01-bebody div.scrapbook-container {
    width: 750px;
    height: 900px;
    position: relative; /* สำคัญมาก: กำหนดจุดอ้างอิงให้ Absolute Items */
    overflow: visible;
    --color-main-frame: #EDE8D7;
    --color-inner-frame: #8C474D;
    --color-note-bg: #B4A7C9;
}

/* Main Photo Frame: ใช้ transform: translate() แทน top/left */
div.sb01-bebody .main-photo-frame {
    position: absolute;
    transform: translate(200px, 120px) rotate(-3deg); /* (left, top) */
    width: 350px;
    height: 380px;
    background-color: var(--color-main-frame);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

div.sb01-bebody .inner-frame {
    position: absolute;
    top: -10px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: var(--color-inner-frame);
    z-index: -1;
    transform: rotate(5deg);
}

div.sb01-bebody .main-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: rotate(3deg);
}

/* Note Sticker: ใช้ transform: translate() แทน top/left */
div.sb01-bebody .note-sticker {
    position: absolute;
    transform: translate(90px, 220px) rotate(10deg); /* (left, top) */
    width: 150px;
    height: 150px;
    background-color: var(--color-note-bg);
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    color: #2D2D2D;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    z-index: 3;
}

div.sb01-bebody .note-title { font-size: 14px; margin-bottom: 5px; font-weight: bold; }
div.sb01-bebody .note-time { font-size: 24px; margin: 0; }
div.sb01-bebody .note-session { font-size: 16px; margin-top: 5px;}

/* Element Clip: ใช้ transform: translate() แทน top/left */
div.sb01-bebody .element-clip {
    position: absolute;
    background-image: url('https://img2.pic.in.th/pic/clip01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    
    width: 240px;
    height: 240px;
    transform: translate(10px, -100px); /* (left, top) */
    z-index: 6;
}

/* Element Pen: ใช้ transform: translate() แทน top/left */
div.sb01-bebody .element-pen {
    position: absolute;
    background-image: url('https://img5.pic.in.th/file/secure-sv1/pen01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    
    width: 220px;
    height: 150px;
    transform: translate(100px, 320px) rotate(-10deg); /* (left, top) + rotate */
    z-index: 5;
}

/* Element Thing: ใช้ transform: translate() แทน bottom/right */
div.sb01-bebody .element-thing {
    position: absolute;
    background-image: var(--url-thing);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    
    width: 220px;
    height: 220px;
    /* คำนวณ translate จาก bottom: 380px; right: 80px; โดยเทียบกับขนาด 750x900 */
    /* top = 900 - 220 (height) - 380 = 300px */
    /* left = 750 - 220 (width) - 80 = 450px */
    transform: translate(450px, 300px) rotate(-50deg); 
    z-index: 5;
}

/* Quote Area: ใช้ transform: translate() แทน top/left/right */
div.sb01-bebody .quote-area {
    position: absolute;
    transform: translate(200px, 65px); /* (left, top) */
    
    /* width และ text-align ยังคงเดิม */
    text-align: left;
    font-size: 13px;
    z-index: 1;
    width: 300px;
    color: #fff;
}

/* Character Name Area: ใช้ transform: translate() แทน top/right */
div.sb01-bebody .character-name-area {
    position: absolute;
    /* คำนวณ translate จาก top: 80px; right: 100px; */
    /* left = 750 - 400 (width) - 100 = 250px */
    transform: translate(250px, 80px); /* (left, top) */
    
    width: 400px;
    height: 150px;
    z-index: 100;
}

/* ชื่อภายในยังคงใช้ position: absolute; เทียบกับ .character-name-area ที่ตอนนี้เป็น absolute แล้ว */
div.sb01-bebody .name-title {
    font-size: 60px;
    font-weight: 900;
    color: #444;
    letter-spacing: 2px;
    margin: 0;
    position: absolute;
    top: -10px;
    right: 0;
    width: 400px;
}

div.sb01-bebody .firstname-text {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: -15px;
    right: 70px;
    font-size: 35px;
    font-weight: 900;
    color: #444;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
    z-index: 101;
}

div.sb01-bebody .lastname-text {
    font-family: 'Mrs Saint Delafield', cursive;
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 80px;
    font-weight: normal;
    color: var(--color-inner-frame);
    line-height: 1;
    z-index: 101;
    transform: rotate(2deg);
}

/* Footer Description Box: ใช้ transform: translate() แทน bottom/left/right */
div.sb01-bebody .footer-description-box {
    position: absolute;
    /* คำนวณ translate จาก bottom: 250px; left: 100px; right: 100px; */
    /* top = 900 - 120 (height) - 250 = 530px */
    /* left: 100px; (จาก
